form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: justify-all;
}
label {
  display: inline-table;
  width: 90px;
  text-align: justify-all;
}
body {
  background-color: lightblue;
  text-align: justify-all;
}
div-expericias {
width: 90px;
border-style: 0 auto;
display: inline-table;
}

